html
{
    font-size: 20;
    font-family:'cairo',sans-serif;
}
h3
{
    margin: 0;
    /*padding: 20px 0;*/
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    font-size: 30px;
    text-align: center;
}
p,li
{
width: 1000px;
border-color: antiquewhite;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    
}
html
{
    background-color: #00539f;
}
body
{
    width:600;
    margin:10px;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img
{
    display: block;
    margin: 0 auto;
}